@import '../../../shared/styles/ngx-custom.scss';

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.custom-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.custom-width-cmlist{
    max-width: 98% !important;   
}

.datatable-body-cell {
    overflow-x: visible !important;
}